.aside {
    display:   none;
}

.apple {
    border: 0;
    box-sizing: border-box;
    color: black;
    display: block;
    float: inherit;
    font-family: Verdana, Geneva, sans-serif !important;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.25;
    list-style-type: none;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin: 0 0 4px 0;
    padding: 0;
    text-align: -webkit-match-parent;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
}