.mainContent {
    background-color: #f6f6ef;
    box-sizing: border-box;
    color: black;
    display: block;
    font-family: Verdana, Geneva, sans-serif !important;
    font-size: 13px;
    position: relative;
    -webkit-font-smoothing: antialiased;
}

.mainContent section {
    margin-top: 42px;
    padding-top: 10px;
}

.mainContent a {
    color: black;
    text-decoration: none;
}
