/* TODO: clean up */

.base {
    display: inline-block;
    margin-right: 5px;
    width: calc(100% - 40px) !important;
}

.base i {
    color: #FF742B;
    font-size: 24px;
    left: 14px;
    position: absolute;
    top: 8px;

}

base i::before {
    content: "\e036";
}

.base input {

}