.base {
    background-color: #f8f8f8;
    bottom: 0;
    box-sizing: border-box;
    display: block;
    left: 0;
    overflow-y: scroll;
    position: fixed;
    top: 60px;
    width: 200px;
    z-index: 5;
}

@media screen and (max-width: 480px) {
    .base {
        margin-top: -30px !important;
    }

}
@media screen and (max-width: 768px) {
    .base {
        transform: translateX(-220px);
    }
}

@media screen and (max-width: 1200px) {
    .base {
        left: 0;
        margin-left: 0;
    }
}
.apple {
    border: 0;
    box-sizing: border-box;
    color: black;
    display: block;
    float: inherit;
    font-family: Verdana, Geneva, sans-serif !important;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.25;
    list-style-type: none;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin: 0 0 4px 0;
    padding: 0;
    text-align: -webkit-match-parent;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
}