<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
	<div ng-if="settings.dateRange === &quot;custom&quot; &amp;&amp; (!settings.dateStart || !settings.dateEnd)" ng-include="&quot;_daterange-picker.html&quot;" class="ng-scope">
		<div date-range-picker="" id="datepicker" class="ng-scope">
			<div class="daterangepicker-days">
				<div class="datepicker1" data-date-format="Y-mm-dd" data-date="2019-05-16">
					<div class="daterangepicker">
						<div class="daterangepicker-days" style="display: block;">
							<table>
								<thead>
								<tr>
									<th class="prev">
										<i class="icon-rewind" />
									</th>
									<th colspan="5" class="month-switch">
										2019 / December&nbsp;<small><i class="icon-angle-down"/><small/></small>
									</th>
									<th class="next">
										<i class="icon-fast-forward" <="" th="" />
									</th>
								</tr>
								<tr>
									<th class="dow">Mo</th>
									<th class="dow">Tu</th>
									<th class="dow">We</th>
									<th class="dow">Th</th>
									<th class="dow">Fr</th>
									<th class="dow">Sa</th>
									<th class="dow">Su</th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td class=" old"/>
									<td class=" old"/>
									<td class=" old"/>
									<td class=" old"/>
									<td class=" old"/>
									<td class=" old"/>
									<td class="day" data-val="1575176400000">1</td>
								</tr>
								<tr>
									<td class="day" data-val="1575262800000">2</td>
									<td class="day" data-val="1575349200000">3</td>
									<td class="day" data-val="1575435600000">4</td>
									<td class="day" data-val="1575522000000">5</td>
									<td class="day" data-val="1575608400000">6</td>
									<td class="day" data-val="1575694800000">7</td>
									<td class="day" data-val="1575781200000">8</td>
								</tr>
								<tr>
									<td class="day" data-val="1575867600000">9</td>
									<td class="day" data-val="1575954000000">10</td>
									<td class="day" data-val="1576040400000">11</td>
									<td class="day" data-val="1576126800000">12</td>
									<td class="day" data-val="1576213200000">13</td>
									<td class="day" data-val="1576299600000">14</td>
									<td class="day" data-val="1576386000000">15</td>
								</tr>
								<tr><td class="day" data-val="1576472400000">16</td>
									<td class="day" data-val="1576558800000">17</td>
									<td class="day" data-val="1576645200000">18</td>
									<td class="day" data-val="1576731600000">19</td>
									<td class="day" data-val="1576818000000">20</td>
									<td class="day" data-val="1576904400000">21</td>
									<td class="day" data-val="1576990800000">22</td>
								</tr>
								<tr>
									<td class="day" data-val="1577077200000">23</td>
									<td class="day" data-val="1577163600000">24</td>
									<td class="day" data-val="1577250000000">25</td>
									<td class="day" data-val="1577336400000">26</td>
									<td class="day" data-val="1577422800000">27</td>
									<td class="day" data-val="1577509200000">28</td>
									<td class="day" data-val="1577595600000">29</td>
								</tr>
								<tr>
									<td class="day" data-val="1577682000000">30</td>
									<td class="day" data-val="1577768400000">31</td>
									<td class=" new"/>
									<td class=" new"/>
									<td class=" new"/>
									<td class=" new"/>
									<td class=" new"/>
								</tr>
								</tbody>
							</table>
						</div>
						<div class="daterangepicker-months" style="display: none;">
							<table class="table-condensed">
								<thead>
								<tr>
									<th class="prev">
										<i class="icon-rewind"/>
									</th>
									<th colspan="5" class="month-switch">
										2019</th>
									<th class="next">
										<i class="icon-fast-forward" <="" th="" />
									</th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td colspan="7">
										<span class="month">Jan</span>
										<span class="month">Feb</span>
										<span class="month">Mar</span>
										<span class="month">Apr</span>
										<span class="month">May</span>
										<span class="month">Jun</span>
										<span class="month">Jul</span>
										<span class="month">Aug</span>
										<span class="month">Sep</span>
										<span class="month">Oct</span>
										<span class="month">Nov</span>
										<span class="month active">Dec</span>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
						<div class="daterangepicker-years" style="display: none;">
							<table>
								<thead>
								<tr>
									<th class="prev">
										<i class="icon-rewind" />
									</th>
									<th colspan="5" class="month-switch">2010-2019</th>
									<th class="next">
										<i class="icon-fast-forward" <="" th="" />
									</th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td colspan="7">
										<span class="year old">2009</span>
										<span class="year">2010</span>
										<span class="year">2011</span>
										<span class="year">2012</span>
										<span class="year">2013</span>
										<span class="year">2014</span>
										<span class="year">2015</span>
										<span class="year">2016</span>
										<span class="year">2017</span>
										<span class="year">2018</span>
										<span class="year active">2019</span>
										<span class="year old">2020</span>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div id="datepicker-form">
					<div class="form-date-group">
						<h2>
							<i class="icon-calendar"/>
							Custom Date Range
						</h2>
						<div class="form-date-body">
							<label>From</label>
							<input class="date-input form-control" data-date-format="Y-mm-dd" id="date-start" name="date_from" placeholder="Start" type="text" value="2019-05-01">
							<label>to</label>
							<input class="date-input form-control" data-date-format="Y-mm-dd" id="date-end" name="date_to" placeholder="End" type="text" value="2019-05-16">
						</div>
						<br>
						<button ng-click="cancel()" type="button">
							<i class="icon-circle-cross"/>
							Cancel
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>