.base {
    background-color: white;
    border: solid 1px #c3c3c3;
    border-radius: 3px;
    color: #5C5C5C;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    line-height: 32px;
    margin: 0 8px 0 2px;
    outline: none;
    padding: 0 20px 0 8px;
    position: relative;
    text-align: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 3;
}

.base:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #9d9d9d;
    content: "";
    height: 0;
    position: absolute;
    right: 6px;
    top: 48%;
    width: 0;
}

.base:hover {
    box-shadow: inset 0 -2px 0 rgba(0,0,0,0.05), 0 0 5px rgba(0,0,0,0.06)
}

.base:hover:after {
    border-color: #9d9d9d transparent
}

.base .dropdown {
    background: white;padding: 0;
    border: 1px solid #9d9d9d;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    font-weight: normal;
    list-style: none;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: -10px;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    top: 30px;
    z-index: 10;
}

.base .dropdown li.divider {
    background: #e6e8ea;
    padding: 2px 0;
}

.base .dropdown li a {
    border-bottom: 1px solid #e6e8ea;
    color: #5C5C5C;
    display: block;
    padding: 4px 12px;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.base .dropdown li i {
    color: inherit;
    float: right;
}

.base .dropdown li:first-of-type a {
    border-radius: 5px 5px 0 0;
}

.base .dropdown li:last-of-type a {
    border: none;
    border-radius: 0 0 5px 5px;
}

.base .dropdown li:hover a {
    background: transparent;
    color: #FF742B;
}

.base .dropdown:after {
    border-color: #fff transparent;
    border-style: solid;
    border-width: 0 6px 6px 6px;
    bottom: 100%;
    content: "";
    height: 0;
    position: absolute;
    right: 15px;
    width: 0;
}

.base .dropdown:before {
    border-color: #9d9d9d transparent;
    border-style: solid;
    border-width: 0 8px 8px 8px;
    bottom: 100%;
    content: "";
    height: 0;
    position: absolute;
    right: 13px;
    width: 0;
}

.base.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}

@media screen and (max-width: 480px) {
    .base .selected {
        line-height: 20px;
        vertical-align: middle;
        text-overflow: ellipsis;
        width: 100%;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden
    }
}