/* TODO: clean up */

.base {
    width: 80px;
    font-size: 12px;
    display: inline-block;
    position: relative
}


@media screen and (max-width: 480px) {
    .base {
        display: none;
    }
}

.base img {
    width: 60px;
    position: relative;
    top: -2px;
    left: 4px;
    vertical-align: bottom;
}
