/* TODO: clean up */

.logoHNDefault {
    background-color: transparent;
    float: left;
    text-decoration: none;
    transition: color 0.1s linear;
    width: 230px;
}
/*
.logoHN a {
    background-color: transparent;
    text-decoration: none;
    transition: color 0.1s linear;
}
*/
.logoHNDefault div {
    color: white;
    font-size: 18px;
    line-height: 1em;
    padding-top: 6px;
}
/*
.logoHN a,
.logoHN a:visited {
    color: white;

}
*/
.logoHNDefault img {
    float: left;
    height: 48px;
    margin-right: 10px;
    padding-top: 2px;
    width: 48px;
}

@media screen and (max-width: 768px) {
    .logoHNDefault {
        width: 70px;
    }
    .logoHNDefault div {
        display: none;
    }
    .logoHNExperimental {
        width: 70px;
    }
}

