/* TODO: clean up */

.logoAlgoliaDefault {
    width: 80px;
    font-size: 12px;
    display: inline-block;
    position: relative
}

.logoAlgoliaDefault img {
    width: 60px;
    position: relative;
    top: -2px;
    left: 4px;
    vertical-align: bottom;
}

@media screen and (max-width: 480px) {
    .logoAlgoliaDefault {
        display: none;
    }
}
