.mainHeaderDefault {
    background-color: #fdfdfd;
    border: none;
    box-sizing: border-box;
    display: block;
    font-family: Verdana, Geneva, sans-serif !important;
    font-size: 12px;
    line-height: 42px;
    padding: 0 10px 0 10px;
    white-space: nowrap;
    z-index: 5;
    -webkit-font-smoothing: antialiased;
}
.searchInfos {
    composes: mainHeaderDefault;
    /*   position: absolute; */
    display: inline-block;
    float: right;
    font-size: 13px;
    padding-right: 5px;
    text-decoration: none;
    z-index: 1
}

.actionShare {
    composes: mainHeaderDefault;
    display: inline-block;
    margin-left: 10px
}

.baseWrapDDMenu {
    composes: mainHeaderDefault;
}

.mainHeaderDefault h1 {
    color: #5c5c5c;
    display: inline-block;
    font-size: 18px;
    font-weight: 200;
    margin: 0;
    text-align: center;
}

.mainHeaderExperimental {
    font-size: 13px;
    height: 77px;
    margin-left: 0;
    /* position: fixed; */
    /* top: 100px; */
    width: 100%;
    z-index: 5;
}

.mainHeaderExperimental h1 {
    display: inline-block;
    margin-right: 10px;
    font-size: 25px;
    position: relative;
    top: 3px;
    color: #5C5C5C
}


.mainHeaderDefault strong {
    color: #5C5C5C
}

.searchInfos li {
    display: inline-block;
}

.actionShare a i {
    font-size: 18px;
    color: #9d9d9d
}

.actionShare a i:hover {
    color: #FF742B
}

.mainHeaderDefault .wrap-dd-menu li a {
    font-size: 13px
}

.mainHeaderDefault .date-range-filter ul {
    display: inline-block
}

.mainHeaderDefault .date-range-filter ul li {
    width: 100px;
    display: inline-block
}

.mainHeaderDefault .date-range-filter label {
    margin-left: 20px;
    font-size: 12px;
    font-weight: normal;
    white-space: nowrap
}

.mainHeaderDefault .date-range-filter input.radio:empty {
    margin-left: -9999px
}

.mainHeaderDefault .date-range-filter input.radio:empty ~ label {
    float: left;
    position: relative;
    line-height: 23px;
    text-indent: 30px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.mainHeaderDefault .date-range-filter input.radio:empty ~ label:before {
    position: absolute;
    width: 20px;
    height: 20px;
    display: block;
    content: "";
    border: solid 1px #ccc;
    line-height: 20px;
    border-radius: 50%
}

.mainHeaderDefault .date-range-filter input.radio:checked ~ label:before {
    box-shadow: inset 0 0 0 6px white, inset 0 0 0 10px #FF742B
}

.mainHeaderDefault .date-range-filter input.radio:focus ~ label:before {
    box-shadow: inset 0 0 0 6px white, inset 0 0 0 10px #FF742B
}

.mainHeaderDefault h2 {
    display: inline-block;
    margin-top: 1em;
    font-size: 20px;
    color: #5C5C5C
}

@media screen and (min-width: 1200px) {
    .mainHeaderExperimental {
        left: 10%;
        right: 10%;
    }
}

@media screen and (max-width: 1200px) {
    .mainHeaderDefault {
        left: 0;
        padding: 0 10px !important;
        width: 100%;
    }
    .mainHeaderExperimental {
        left: 0;
        margin-left: 200px;
        padding: 0 10px !important;
        width: 100%;
        width: calc(100% - 200px);
    }
}

@media screen and (max-width: 768px) {
    .mainHeaderDefault {
        padding: 0 10px 0 60px !important;
    }
    .mainHeaderExperimental {
        margin-left: 0;
        width: 100%;
    }
    .searchInfos {
        display: none !important;
    }
    .stateTitle {
        visibility: hidden
    }
}

@media screen and (max-width: 480px) {
    .mainHeaderDefault {
        height: auto !important;
        line-height: 45px;
        margin-left: 0;
        padding: 0 10px !important;
        text-align: right;
        width: 100%;
    }
    .mainHeaderDefault h1 {
        font-size: 16px;
    }
    .mainHeaderExperimental h1 {
        font-size: 16px
    }
    .filterLabel {
        display: none
    }
    .mainHeaderDefault>span {
        display: none
    }
    .mainHeaderExperimental>span{
        display: none;
    }
}
/* --------------------------------------- */
@media screen and (max-width: 768px) {
    .item-thumbnail {
        display: none;
    }
    .navigation {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    #datepicker {
        top: 45px !important;
    }
    .item-actions {
        display: none;
    }
    .item-main {
        padding:0 !important;
    }
    .item-content-wrapper {
        padding: 10px 20px !important;
    }
    .item-input-wrapper {
        width: calc(100% - 40px) !important;
    }
    .main {
        padding-top: 50px !important;
    }
    .sidebar {
        margin-top: -30px !important;
    }
    .wrap-dd-select {
        font-size: 12px;
        margin-right: 0;
        max-width: 80px;
    }
    .wrap-dd-select .selected {
        display: inline-block;
        line-height: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
        white-space: nowrap;
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .sliding-menu-button {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .daterangepicker {
        float: none;
        margin: 10px auto;
    }
}

@media screen and (max-width: 768px) {
    #datepicker-form {
        display: none;
    }
}

