/* Application */

@media screen and (max-width: 768px) {
    .item-thumbnail {
        display: none;
    }
    .navigation {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    #datepicker {
        top: 45px !important;
    }
    .item-input-wrapper {
        width: calc(100% - 40px) !important;
    }
    .main {
        padding-top: 50px !important;
    }
    .sidebar {
        margin-top: -30px !important;
    }
    .wrap-dd-select {
        font-size: 12px;
        margin-right: 0;
        max-width: 80px;
    }
    .wrap-dd-select .selected {
        display: inline-block;
        line-height: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
        white-space: nowrap;
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .sliding-menu-button {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .daterangepicker {
        float: none;
        margin: 10px auto;
    }
}

@media screen and (max-width: 768px) {
    #datepicker-form {
        display: none;
    }
}

/* Default */

@media screen and (max-width: 480px) {
    .search-wrapper .powered-by {
        display:none;
    }
}

@media screen and (max-width: 768px) {
    .item-title-and-infos {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .item-thumbnail {
        display: none;
    }
    .navigation {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    #datepicker {
        top: 45px !important;
    }
    .item-input-wrapper {
        width: calc(100% - 40px) !important;
    }
    .main {
        padding-top: 50px !important;
    }
    .sidebar {
        margin-top: -30px !important;
    }
    .wrap-dd-select {
        font-size: 12px;
        margin-right: 0;
        max-width: 80px;
    }
    .wrap-dd-select .selected {
        display: inline-block;
        line-height: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
        white-space: nowrap;
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .sliding-menu-button {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .daterangepicker {
        float: none;
        margin: 10px auto;
    }
}

@media screen and (max-width: 768px) {
    #datepicker-form {
        display: none;
    }
}

/* Experimental */

.main .search-results .item-clearfix:after {
    clear: both;
    content: "";
    display: table;
}

h1,h2,h3,h4,h5 {
    font-family: Verdana, Geneva, sans-serif !important;
    font-weight: 200;
}

html,body {
    color: black;
    font-family: Verdana, Geneva, sans-serif !important;
    height: 100%;
}

@media screen and (min-width: 1200px) {
    .container {
        margin: 0 auto;
        width: 80%;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .container {
        min-width: 0;
    }
}

@media screen and (max-width: 768px) {
    .page-header .search-wrapper{
        width: calc(90% - 60px);
    }
}

@media screen and (max-width: 480px) {
    .main .search-results {
        width: 100%;
    }
}
