.pageHeaderBase {
    display: grid;
    grid-template-columns: 230px 1fr 80px 35px;
    width: 100%;
}

.pageHeaderDefault {
    background-color: #FF742B;
    border: none;
    box-sizing: border-box;
    color: black;
    composes:pageHeaderBase;
    /* display: block; */
    float: inherit;
    font-family: Verdana, Geneva, sans-serif !important;
    font-size: 1em;
    grid-area: pageheader;
    height: 60px;
    line-height: 1.5;
    padding: 5px;
    z-index: 15;
    -webkit-font-smoothing: antialiased;
}

.searchWrapperDefault {
    composes: pageHeaderBase;
    float: left;
    margin-top: 3px;
    position: relative;
    width: calc(90% - 230px);
}

.settingsNavLinkDefault {
    float: right;
    font-size: 16px;
    margin: 10px 15px 0 0;
}

.settingsNavLinkDefault a:link i,
.settingsNavLinkDefault a:visited i {
    color: white;
    font-size: 20px;
    position: relative;
    top: 3px;
}

@media screen and (min-width: 1200px) {
    .pageHeaderBase {
        width: 80%;
    }
    /*
    .pageHeaderDefault {
        width: 80%;
    }
    .pageHeaderExperimental {
        width: 80%;
    }
    */
}

@media screen and (max-width: 1200px) {
    .pageHeaderBase {
        width: 100%;
    }
    /*
    .pageHeaderDefault, .pageHeaderExperimental {
        width:100%;
    }
     */
}

@media screen and (max-width: 768px) {
    .searchWrapperDefault {
        width: calc(90% - 60px);
    }
}
