.base {
    background-color: #FF742B;
    border: none;
    box-sizing: border-box;
    color: black;
    display: block;
    float: inherit;
    font-family: Verdana, Geneva, sans-serif !important;
    font-size: 1em;
    height: 60px;
    line-height: 1.5;
    padding: 5px;
    -webkit-font-smoothing: antialiased;
    z-index: 15;
}

@media screen and (max-width: 1200px) {
    .base {
        width: 100%;
    }
}

@media screen and (min-width: 1200px) {
    .base {
        margin: 0 auto;
        width: 1200px;
    }
}

.main header {
    border-bottom: solid 1px #eee;
    line-height: 77px;
    padding: 0 30px;
    background-color: #fdfdfd;
    white-space: nowrap
}

.main header h1 {
    display: inline-block;
    margin-right: 10px;
    font-size: 25px;
    position: relative;
    top: 3px;
    color: #5C5C5C
}
