.searchWrapperDefault {
    float: left;
    margin-top: 3px;
    position: relative;
    width: calc(90% - 230px);
}

@media screen and (max-width: 768px) {
    .searchWrapperDefault {
        width: calc(90% - 60px);
    }
}
