.wrap-dd-menu {
    position: relative;
    line-height: 1.8em
}

.wrap-dd-menu .dropdown {
    width: 170px;
    position: absolute;
    z-index: 1;
    top: 30px;
    right: -45px;
    background: white;
    padding: 0;
    border-radius: 7px;
    border: 1px solid #9d9d9d;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    font-weight: normal;
    transition: all 0.2s ease-in;
    list-style: none;
    opacity: 0;
    pointer-events: none
}

.wrap-dd-menu .dropdown li.divider {
    padding: 2px 0;
    background: #e6e8ea
}

.wrap-dd-menu .dropdown li {
    display: block;
    width: 100%
}

.wrap-dd-menu .dropdown li a {
    display: block;
    width: 100%;
    padding: 8px;
    text-decoration: none;
    cursor: pointer;
    color: #9d9d9d !important;
    border-bottom: 1px solid #e6e8ea;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out
}

.wrap-dd-menu .dropdown li i {
    float: right;
    color: inherit;
    width: 20px;
    text-align: center
}

.wrap-dd-menu .dropdown li:first-of-type a {
    border-radius: 7px 7px 0 0}

.wrap-dd-menu .dropdown li:last-of-type a {
    border-radius: 0 0 7px 7px;
    border: none
}

.wrap-dd-menu .dropdown li:hover a {
    color: #FF742B !important
}

.wrap-dd-menu .dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 47px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #fff transparent
}

.wrap-dd-menu .dropdown:before {
    content: "";
    width: 0;height: 0;
    position: absolute;
    bottom: 100%;
    right: 45px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: #9d9d9d transparent
}

.wrap-dd-menu .dropdown.active {
    opacity: 1;
    pointer-events: auto
}